DOMAIN=localhost
NEXT_PUBLIC_CHURCH_PHONE=010-0000-0000
NEXT_PUBLIC_CHURCH_EMAIL=hello@deojeja.church
NEXT_PUBLIC_CHURCH_ADDRESS=서울시 OO구 OO로 00, 더 제자교회
NEXT_PUBLIC_YOUTUBE_URL=https://www.youtube.com/@deojejachurch
NEXT_PUBLIC_KAKAO_URL=https://open.kakao.com/o/yourlink
NEXT_PUBLIC_NAVER_MAP_URL=https://map.naver.com/p/search/
NEXT_PUBLIC_GIVING_BANK=국민은행 000-00-0000-000
NEXT_PUBLIC_GIVING_OWNER=더 제자교회
